@media (max-width: 750px) {
  .links {
    display: flex;
    flex-direction: column;
    // align-items: center;
    a {
      display: block;
      // position:fixed;
      
      // text-align: left;
    }
    p {
      display:inline-block;
    }
  }
}

@media (min-width: 750px) {
  .dropdown {
    p {
      display: none;
    }
  }
}