.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: black;
  gap: 50px;

  a {
    text-decoration: none;
    color: white;
    font-size: 30px;

    &:hover {
      color: gold;
    }
  }
  .active-link {
    color: red;
    text-decoration: underline;
  }

}